{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "importOrder": ["^src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
